/*TRANSITIONS*/
.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*BLACK SKIN*/

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black; 
	opacity: 0.7;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#frame-000
{
	background-image: url(../pics/title-bg.png);
	background-size: 100% 100%;
}

#der-button
{
	background-image: url(../pics/der-button.png);
	background-size: 100% 100%;
	width: 30%;
	height: 15%;
	left: 68%;
	top: 49%;
	position: absolute;
	z-index: 1;
}

#der-button:hover, #facts-button:hover, #lab-button:hover
{
	-webkit-box-shadow: 0px 0px 1vmin 1vmin black;
	-moz-box-shadow: 0px 0px 1vmin 1vmin black;
	box-shadow: 0px 0px 1vmin 1vmin black;
}

#facts-button
{
	width: 14%;
	height: 14.5%;
	background-image:  url(../pics/facts-button.png);
	background-size: 100% 100%;
	position: absolute;
	left: 71%; 
	top: 27%;
	z-index: 1;
}

#lab-button
{
	width: 12%;
	height: 25%;
	background-image:  url(../pics/lab-button.png);
	background-size: 100% 100%;
	position: absolute;
	left: 86%; 
	top: 65%;
	z-index: 1;
}

#title-eyes
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/title-eyes.gif);
	background-size: 100% 100%;
}

/*FRAME 101*/

#frame-101
{
	background-image: url(../pics/main-pics-sprite.jpg);
	background-size: auto 100%;
	background-position: 0% 0%;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#frame-101 #start-button, #frame-101 #next-button, #frame-103 .start-button, #frame-103 .next-button, #frame-104 .next-button
{
	position: absolute;
	width: 20%;
	height: 40%;
	left: 40%;
	top: 30%;
	font-family: Verdana;
	font-size: 5vmin;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	padding-top: 8%;
}

#frame-101 #start-button:hover, #frame-101 #next-button:hover, #frame-103 .next-button:hover, #frame-104 .next-button:hover
{
	background-color: black;
	color: white;
}

#frame-101 #girl-speak-animated-1
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/girl-speak-animated-1.gif);
	background-size: 100% 100%;
}

#frame-101 #boy-speak-animated-1
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-1.gif);
	background-size: 100% 100%;
}

#frame-101 #boy-speak-animated-2
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-2.gif);
	background-size: 100% 100%;
}

#frame-101 #boy-speak-animated-3
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-3.gif);
	background-size: 100% 100%;
}

#frame-101 #boy-speak-animated-4
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-4.gif);
	background-size: 100% 100%;
}

#frame-101 #boy-speak-animated-4-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-4-eyes.gif);
	background-size: 100% 100%;
}

#frame-101 #frame-1-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/frame-1-eyes.gif);
	background-size: 100% 100%;
}

#frame-101 #frame-2-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/frame-2-eyes.gif);
	background-size: 100% 100%;
}

#frame-101 #frame-3-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/frame-3-eyes.gif);
	background-size: 100% 100%;
}

#frame-101 #frame-4-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/frame-4-eyes.gif);
	background-size: 100% 100%;
}

#frame-101 #girl-speak-animated-2
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/girl-speak-animated-2.gif);
	background-size: 100% 100%;
}

#frame-101 #main-cloud
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/main-cloud.png);
	background-size: 100% 100%;
}
#frame-101 #wide-cloud, #frame-103 .wide-cloud
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/wide-cloud.png);
	background-size: 100% 100%;
}

#frame-101 #example-pic
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

/*FRAME 102*/

#frame-102, #frame-104
{
	background-image: url(../pics/frame-102-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#frame-102 #black-skin, #frame-104 .black-skin
{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

#frame-102 .keep-thinking
{
	width: 30%;
	height: 60%;
	position: absolute;
	left: 35%;
	top: 20%;
	border-radius: 50%;
	background-color: white;
	color: black;
	font-size: 4vmin;
	font-family: verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 12%;
}

#frame-102 .instruction, #frame-104 .instruction
{
	top: 5vmin;
	position: absolute;
	padding-top: 1vmin;
	width: 100%;
	height: 6vmin;
	text-align: center;
	font-size: 3vmin;
	font-weight: bold;
	font-family: Verdana;
	background-color: #4ec7dd;
	color: white;
}

#frame-102 .question-container
{
	position: absolute;
	width: 100%;
	height: 30%;
	top: 15%;
}

#frame-102 .question-container .elem
{
	height: 100%;
	width: 12%;
	float: left;
	margin-left: 2%;
	border-radius: 10vmin;
	background-position: center;
	background-size: auto 100%;
	background-repeat: none;
}

#frame-102 .question-container .empty
{
	background-color: #FFC8D5;
	border: 0.2vmin solid #6EDCF1;	
}

#frame-102 .answers-container
{
	position: absolute;
	width: 100%;
	height: 30%;
	top: 55%;
	border: 0.2vmin solid lightGray;
}

#frame-102 .answers-container .elem
{
	border: 0.2vmin solid gray;
	height: 100%;
	width: 12%;
	float: left;
	margin-left: 4%;
	border-radius: 10vmin;
	background-position: center;
	background-size: auto 100%;
}

#frame-102 .answers-container .elem:hover
{
	background-color: #1A8F4D;
}

#frame-102 .zinc { background-image: url(../pics/zinc.png);}
#frame-102 .iron { background-image: url(../pics/iron.png);}
#frame-102 .aluminium { background-image: url(../pics/aluminium.png);}
#frame-102 .zinc-sulphate { background-image: url(../pics/zinc-sulphate.png);}
#frame-102 .hydrogen { background-image: url(../pics/hydrogen.png);}
#frame-102 .sulphuric-acid { background-image: url(../pics/sulphuric-acid.png);}
#frame-102 .plus-sign { background-image: url(../pics/plus-sign.png);}
#frame-102 .equal-sign { background-image: url(../pics/equal-sign.png);}
#frame-102 .aluminium-sulphate { background-image: url(../pics/aluminium-sulphate.png);} 
#frame-102 .hydrochloric-acid { background-image: url(../pics/hydrochloric-acid.png);}
#frame-102 .iron-chloride { background-image: url(../pics/iron-chloride.png);}

/*FRAME 103*/

#frame-103
{
	background-image: url(../pics/main-pics-sprite.jpg);
	background-size: auto 100%;
	background-position: 37.5%;
}

#frame-103 .boy-speak-animated
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/boy-speak-animated-3.gif);
	background-size: 100% 100%;
}

#frame-103 .girl-speak-animated
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/girl-speak-animated-2.gif);
	background-size: 100% 100%;
}

#frame-103 .boy-girl-eyes
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/frame-4-eyes.gif);
	background-size: 100% 100%;
}

#frame-103 .carbonates
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-image: url(../pics/carbonates.png);
}

#frame-103 .video-container
{
	width: 50%;
	height: 50%;
	position: absolute;
	left: 25%;
	top: 25%;
}

/*FRAME 104*/

#frame-104 .labels
{
	position: absolute;
	width: 30%;
	height: 80%;
	left: 5%;
	top: 15%;
}

#frame-104 .labels .label
{
	position: relative;
	width: 100%;
	height: 14%;
	font-family: Verdana;
	background-color: #4EC7DD;
	font-weight: bold;
	color: white;
	padding: 3%;
	border-top: 0.1vmin solid white;
}

#frame-104 .baskets .basket
{
	position: relative;
	width: 100%;
	height: 14%;
	font-family: Verdana;
	background-color: #FFC8D5;
	font-weight: bold;
	color: white;
	padding: 3%;
	border-top: 0.1vmin solid white;
	border-left: 0.1vmin solid white;
}

#frame-104 .balls .ball
{
	position: relative;
	width: 100%;
	height: 14%;
	font-family: Verdana;
	background-color: #4EC7DD;
	font-weight: bold;
	color: white;
	padding: 3%;
	border-top: 0.1vmin solid white;
	border-left: 0.1vmin solid white;
}

#frame-104 .baskets
{
	position: absolute;
	width: 25%;
	height: 80%;
	left: 35%;
	top: 15%;
}

#frame-104 .balls
{
	position: absolute;
	width: 25%;
	height: 80%;
	left: 70%;
	top: 15%;
}

/*FRAME 106*/

#frame-106
{
	background-image: url(../pics/frame-106-bg.png);
	background-size: 100% 100%;
}

#frame-106 #all-eyes, #frame-106 #all-mouthes
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#frame-106 #all-eyes
{
	background-image: url(../pics/frame-106-eyes.gif);
	background-size: 100% 100%;
}

#frame-106 #all-mouthes
{
	background-image: url(../pics/frame-106-mouthes.gif);
	background-size: 100% 100%;
}

/*MODEL*/
#black-layer
{
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 100;
}

#model-content
{
	position: absolute;
	width: 40%;
	height: 50%;
	left: 30%;
	top: 25%;
	font-size: 4vmin;
	background-color: white;
	z-index: 101;
	padding: 10%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

/*RESEARCH PART*/

.video-container
{
	width: 60%;
	height: 80%;
	left: 20%;
	position: absolute;
}

#frame-301 .next-button
{
	position: absolute;
	width: 60%;
	height: 10%;
	left: 20%;
	top: 92%;
	font-family: Verdana;
	font-size: 3vmin;
	padding-top: 1.5%;
	text-align: center;
	background-color: #77DAF2;
	color: white;
}

.task, .result
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/frame-102-bg.png);
	background-size: 100% 100%;
}

.task .question, .result .label
{
	width: 100%;
	min-height: 8%;
	max-height: 10%;
	position: absolute;
	top: 15%;
	font-weight: bold;
	padding-top: 1%;
	font-family: Verdana;
	text-align: center;
	background-color: #13a9d0;
	color: white;
}

.task .answer
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 100%;
	height: 8%;
	top: 30%;
	font-family: Verdana;
	margin-top: 1%;
	color: white;
	padding: 1%;
	text-align: center;
	position: relative;
	background-color: #ff4177;
}

.task .answer:hover
{
	background-color: #FFC8D5;
	color: darkGray;
}

#frame-301 .next-button:hover
{	
	background-color: black;
}

/*FACTS PART*/

.fact .label
{
	width: 100%;
	min-height: 8%;
	max-height: 10%;
	position: absolute;
	font-size: 3vmin;
	top: 15%;
	font-weight: bold;
	padding-top: 1%;
	font-family: Verdana;
	text-align: center;
	background-color: #13a9d0;
	color: white;
}

.fact .fact-image
{
	width: 30%;
	height: 60%;
	position: absolute;
	top: 30%;
	left: 15%;
	background-size: 100% 100%;
}

.fact .fact-1-image{ background-image: url(../pics/fact-1-image.png);}
.fact .fact-2-image{ background-image: url(../pics/fact-2-image.png);}
.fact .fact-3-image{ background-image: url(../pics/fact-3-image.gif);}
.fact .fact-4-image{ background-image: url(../pics/fact-4-image.png);}
.fact .fact-5-image{ background-image: url(../pics/fact-5-image.png);}

.fact .fact-text
{
	width: 50%;
	height: 60%;
	text-align: justify;
	position: absolute;
	font-size: 3vmin;
	font-family: Verdana;
	left: 50%;
	top: 37%;
}

.fact .next-button, .fact .back-button, #frame-306 .next-button
{
	width: 10%;
	height: 5%;
	padding-top: 1.5%;
	font-family: Verdana;
	font-weight: bold;
	font-size: 2.5vmin;
	color: white;
	border-left: 1px solid white;
	text-align: center;
	position: absolute;
	
}

.fact .next-button, #frame-306 .next-button
{
	top: 15%;
	left: 90%;
}
.fact .back-button
{
	top: 15%;
	left: 80%;
}


.fact .next-button:hover, .fact .back-button:hover, #frame-306 .next-button
{
	background-color: #f39279;
}